#area-btn {
    display: flex;
    gap: 10px;
}

.box-apresentation h1{color: white; font-weight: bold; font-size: 60px;}
.apresentation span{color: white; font-size: 20px;}



.tablet img {
    margin-top: 50px;
    border-radius: 50% 20%;
    max-width: 100%;
    height: auto;
}
